.author__avatar {
    display: table-cell;
    vertical-align: top;
    width: 50px
}

@media (min-width: 57.8125em) {
    .author__avatar {
        display: block;
        width: auto;
        height: auto
    }
}

.author__avatar img {
    max-width: 175px;
    border-radius: 50%
}

@media (min-width: 57.8125em) {
    .author__avatar img {
        padding: 5px;
        border: 1px solid var(--main-border-color)
    }
}

.splash__avatar {
    display: table-cell;
    vertical-align: top;
    width: 95px;
    margin-top: -50px
}

@media (min-width: 57.8125em) {
    .splash__avatar {
        display: block;
        width: auto;
        height: auto
    }
}

.splash__avatar img {
    max-width: 175px;
    border-radius: 50%;
    margin-top: 2px
}

@media (min-width: 57.8125em) {
    .splash__avatar img {
        padding: 5px;
        border: 1px solid var(--main-border-color)
    }
}

.author__content {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 25px;
    line-height: 1
}

@media (min-width: 57.8125em) {
    .author__content {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0
    }
}

.author__name {
    margin: 0
}

@media (min-width: 57.8125em) {
    .author__name {
        margin-top: 10px;
        margin-bottom: 10px
    }
}

.sidebar .author__name {
    font-family: "Ubuntu", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 1em
}

.author__bio {
    margin: 0
}

@media (min-width: 57.8125em) {
    .author__bio {
        margin-top: 10px;
        margin-bottom: 20px
    }
}

.author__urls-wrapper {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    font-family: "Ubuntu", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    z-index: 10;
    position: relative;
    cursor: pointer
}

.author__urls-wrapper li:last-child a {
    margin-bottom: 0
}

@media (min-width: 57.8125em) {
    .author__urls-wrapper {
        display: block
    }
}

.author__urls-wrapper button {
    position: relative;
    margin-bottom: 0
}

@supports (pointer-events: none) {
    .author__urls-wrapper button:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none
    }
}

.author__urls-wrapper button.open:before {
    pointer-events: auto
}

@media (min-width: 57.8125em) {
    .author__urls-wrapper button {
        display: none
    }
}

.author__urls {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 15px;
    padding: 10px;
    list-style-type: none;
    border: 1px solid #f2f3f3;
    border-radius: 4px;
    background: var(--greedy-nav-col);
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: default
}

.author__urls.is--visible {
    display: block
}

@media (min-width: 57.8125em) {
    .author__urls {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        border: 0;
        background: transparent;
        box-shadow: none
    }
}

.author__urls:before {
    display: block;
    content: "";
    position: absolute;
    top: -11px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f2f3f3 transparent;
    z-index: 0
}

@media (min-width: 57.8125em) {
    .author__urls:before {
        display: none
    }
}

.author__urls:after {
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #fff transparent;
    z-index: 1
}

@media (min-width: 57.8125em) {
    .author__urls:after {
        display: none
    }
}

.author__urls ul {
    padding: 10px;
    list-style-type: none
}

.author__urls li {
    white-space: nowrap
}

.author__urls a {
    display: block;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    font-size: 1em;
    text-decoration: none
}

.author__urls a:hover {
    text-decoration: underline
}

.repo_src {
    font-size: small;
    display: none
}

@media (min-width: 57.8125em) {
    .repo_src {
        display: block;
        margin-top: 20px
    }
}