.post-preview {
    padding-left: 20px;
}

.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.year-heading {
    font-size: 2em;
    margin-top: 40px;
    margin-left: 10px;
}

.post-preview {
    margin-bottom: 40px;
}

.post-title {
    font-size: 1.5em;
    text-decoration: none;
}

.post-title:hover {
    text-decoration: underline;
}

.post-subtitle {
    font-size: 1.2em;
}

.post-meta {
    font-size: 0.9em;
}

.post-meta i {
    margin-right: 5px;
}

.post-excerpt {
    font-size: 14px;
}

hr {
    border: 0;
    height: 1px;
    background: #ddd;
}