html,
html[data-force-color-mode="light"] {
    --splash-gradient-color: rgba(255, 255, 255, 0.5);
    --link-color: rgb(0, 112, 201);
    --main-background-color: #fff;
    --main-text-color: hsl(0, 0%, 9%);
    --main-border-color: #ffffff5d;
    --greedy-nav-col: #fff;
    --code-back: #d8d7d7;
    --blockquote-col: #a1eef75d;
    --tik-code-col: #d12d4c;
    --label-color: #4b7473;
    --label-text-color: #ffffff;
    --news-background-color: #fff;
    --c-color: #474949;
    --err-color: #364448;
    --g-color: #2e4850;
    --k-color: #394201;
    --l-color: #1a3037;
    --n-color: #4a4b4b;
    --o-color: #505d01;
    --x-color: #62260c;
    --p-color: #4d0d66;
    --cm-color: #205252;
    --cp-color: #505b0d;
    --c1-color: #0a5656;
    --cs-color: #859900;
    --gd-color: #044e48;
    --ge-color: #063948;
    --gr-color: #7b1816;
    --gh-color: #8a2d05;
    --gi-color: #3c4503;
    --go-color: #054457;
    --gp-color: #0e3f4e;
    --gs-color: #012c39;
    --gu-color: #4c1701;
    --gt-color: #043746;
    --kc-color: #cb4b16;
    --kd-color: #094c66;
    --kn-color: #4d5805;
    --kp-color: #859900;
    --kr-color: #033c53;
    --kt-color: #7e0907;
    --ld-color: #064558;
    --m-color: #045750;
    --s-color: #074c48;
    --na-color: #04465a;
    --nb-color: #594302;
    --nc-color: #05506e;
    --no-color: #612004;
    --nd-color: #044964;
    --ni-color: #621f03;
    --ne-color: #5d2209;
    --nf-color: #213740;
    --nl-color: #083a49;
    --nn-color: #02475c;
    --nx-color: #075871;
    --py-color: #033f52;
    --nt-color: #0c4d66;
    --nv-color: #0c465d;
    --ow-color: #455002;
    --w-color: #2a3539;
    --mf-color: #0e5952;
    --mh-color: #0a5d56;
    --mi-color: #106d65;
    --mo-color: #12544f;
    --sb-color: #0f6b6b;
    --sc-color: #05564f;
    --sd-color: #263033;
    --s2-color: #0e3f3b;
    --se-color: #561f08;
    --sh-color: #586e75;
    --si-color: #15524d;
    --sx-color: #144440;
    --sr-color: #701917;
    --s1-color: #2aa198;
    --ss-color: #16605a;
    --bp-color: #0f4b62;
    --vc-color: #10516b;
    --vg-color: #0e526e;
    --vi-color: #125f7d;
    --il-color: #135852
}

@media (prefers-color-scheme: dark) {
    html {
        --splash-gradient-color: rgba(0, 0, 0, 0.5);
        --link-color: rgb(100, 210, 255);
        --main-background-color: hsl(0, 0%, 20%);
        --main-text-color: hsl(0, 0%, 85%);
        --main-border-color: hsla(0, 0%, 27%, 0.936);
        --greedy-nav-col: #474646;
        --code-back: #272626;
        --blockquote-col: #08d3d514;
        --tik-code-col: #edbb29;
        --label-color: #1c82ad;
        --label-text-color: #f0f0f0;
        --news-background-color: hsl(0, 0%, 23%);
        --c-color: #93a1a1;
        --err-color: #586e75;
        --g-color: #586e75;
        --k-color: #859900;
        --l-color: #586e75;
        --n-color: #eff3f4;
        --o-color: #859900;
        --x-color: #cb4b16;
        --p-color: #dcb2ed;
        --cm-color: #93a1a1;
        --cp-color: #d1eb28;
        --c1-color: #93a1a1;
        --cs-color: #859900;
        --gd-color: #2aa198;
        --ge-color: #586e75;
        --gr-color: #dc322f;
        --gh-color: #cb4b16;
        --gi-color: #859900;
        --go-color: #586e75;
        --gp-color: #586e75;
        --gs-color: #586e75;
        --gu-color: #cb4b16;
        --gt-color: #586e75;
        --kc-color: #cb4b16;
        --kd-color: #22b3eb;
        --kn-color: #859900;
        --kp-color: #859900;
        --kr-color: #22b3eb;
        --kt-color: #ff6865;
        --ld-color: #586e75;
        --m-color: #2aa198;
        --s-color: #4bf0e4;
        --na-color: #d8dedf;
        --nb-color: #B58900;
        --nc-color: #22b3eb;
        --no-color: #cb4b16;
        --nd-color: #22b3eb;
        --ni-color: #cb4b16;
        --ne-color: #cb4b16;
        --nf-color: #7fdbff;
        --nl-color: #d1d9db;
        --nn-color: #586e75;
        --nx-color: #b1c0c4;
        --py-color: #586e75;
        --nt-color: #22b3eb;
        --nv-color: #22b3eb;
        --ow-color: #859900;
        --w-color: #586e75;
        --mf-color: #2aa198;
        --mh-color: #2aa198;
        --mi-color: #2aa198;
        --mo-color: #2aa198;
        --sb-color: #93a1a1;
        --sc-color: #2aa198;
        --sd-color: #586e75;
        --s2-color: #2aa198;
        --se-color: #cb4b16;
        --sh-color: #586e75;
        --si-color: #2aa198;
        --sx-color: #2aa198;
        --sr-color: #dc322f;
        --s1-color: #2aa198;
        --ss-color: #2aa198;
        --bp-color: #22b3eb;
        --vc-color: #22b3eb;
        --vg-color: #22b3eb;
        --vi-color: #22b3eb;
        --il-color: #2aa198
    }
}

html[data-force-color-mode="dark"] {
    --splash-gradient-color: rgba(0, 0, 0, 0.5);
    --link-color: rgb(100, 210, 255);
    --main-background-color: hsl(0, 0%, 20%);
    --main-text-color: hsl(0, 0%, 85%);
    --main-border-color: hsla(0, 0%, 27%, 0.936);
    --greedy-nav-col: #474646;
    --code-back: #272626;
    --blockquote-col: #08d3d514;
    --tik-code-col: #edbb29;
    --label-color: #1c82ad;
    --label-text-color: #f0f0f0;
    --news-background-color: hsl(0, 0%, 23%);
    --c-color: #93a1a1;
    --err-color: #586e75;
    --g-color: #586e75;
    --k-color: #859900;
    --l-color: #586e75;
    --n-color: #eff3f4;
    --o-color: #859900;
    --x-color: #cb4b16;
    --p-color: #dcb2ed;
    --cm-color: #93a1a1;
    --cp-color: #d1eb28;
    --c1-color: #93a1a1;
    --cs-color: #859900;
    --gd-color: #2aa198;
    --ge-color: #586e75;
    --gr-color: #dc322f;
    --gh-color: #cb4b16;
    --gi-color: #859900;
    --go-color: #586e75;
    --gp-color: #586e75;
    --gs-color: #586e75;
    --gu-color: #cb4b16;
    --gt-color: #586e75;
    --kc-color: #cb4b16;
    --kd-color: #22b3eb;
    --kn-color: #859900;
    --kp-color: #859900;
    --kr-color: #22b3eb;
    --kt-color: #ff6865;
    --ld-color: #586e75;
    --m-color: #2aa198;
    --s-color: #4bf0e4;
    --na-color: #d8dedf;
    --nb-color: #B58900;
    --nc-color: #22b3eb;
    --no-color: #cb4b16;
    --nd-color: #22b3eb;
    --ni-color: #cb4b16;
    --ne-color: #cb4b16;
    --nf-color: #7fdbff;
    --nl-color: #d1d9db;
    --nn-color: #b2c8cf;
    --nx-color: #586e75;
    --py-color: #586e75;
    --nt-color: #22b3eb;
    --nv-color: #22b3eb;
    --ow-color: #859900;
    --w-color: #586e75;
    --mf-color: #2aa198;
    --mh-color: #2aa198;
    --mi-color: #2aa198;
    --mo-color: #2aa198;
    --sb-color: #93a1a1;
    --sc-color: #2aa198;
    --sd-color: #586e75;
    --s2-color: #2aa198;
    --se-color: #cb4b16;
    --sh-color: #586e75;
    --si-color: #2aa198;
    --sx-color: #2aa198;
    --sr-color: #dc322f;
    --s1-color: #2aa198;
    --ss-color: #2aa198;
    --bp-color: #22b3eb;
    --vc-color: #22b3eb;
    --vg-color: #22b3eb;
    --vi-color: #22b3eb;
    --il-color: #2aa198
}