---
layout: archive
author_profile: false
sidebar:
    - title: "Summary"
      nav: Achievements

permalink: /achievements/
---

<div>
    <h2 id="achievements">Achievements<a class="header-link" href="#achievements" title="Permalink"><span
                class="sr-only">Permalink</span></a></h2>
    <div class="">
        <div class="">
            <table style=" border:0px;">
                <tbody style=" border:0px;">

                    {% assign sorted_achievements = site.data.achievements.achievements | reverse %}
                    {% for achievement in sorted_achievements %}
                    <tr style=" border:0px;">
                        <td style=" border:0px;">
                            <h3>{{ achievement.title }}</h3>

                            {% if achievement.location %}
                            <p>Location: {{ achievement.location }}</p>
                            {% endif %}

                            {% if achievement.duration %}
                            <p>Duration: {{ achievement.duration }}</p>
                            {% endif %}

                            {% if achievement.date %}
                            <p>Date: {{ achievement.date }}</p>
                            {% endif %}

                            {% if achievement.role %}
                            <p>Role: {{ achievement.role }}</p>
                            {% endif %}

                            {% if achievement.place %}
                            <p>Place: {{ achievement.place }}</p>
                            {% endif %}

                            {% if achievement.responsibilities %}
                            <p>Responsibilities:</p>
                            <ul>
                                {% for responsibility in achievement.responsibilities %}
                                <li>{{ responsibility }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <p>{{ achievement.description}}</p>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>